body {
  background-color: papayawhip;
  font-family: 'Raleway', sans-serif;
}

.button{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 10;
  position: absolute;
}
.blue-button{
  background-color: blue;
}

.pink-button{
  background-color: pink;
}

#left-top{
  left: 10%;
}
#left-center{
  left: 30%;
}

#right-top{
  left: 80%;
}
#right-center{
  left: 52%;
}

.message{
  display: flex;
  font-size: 28px;
  flex-direction: column;
  text-align: center;
  color: #11210d;
  margin-top: 200px;
}

.text{
  display: none;
}
