body {
  background-color: papayawhip;
  font-family: 'Raleway', sans-serif;
}
.buttons{
  margin-top: 100px;
}
.button{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 10;
  position: absolute;
}
.button:hover{
  cursor: pointer;
}
.blue-button{
  background-color: #89CFF0;
}

.pink-button{
  background-color: #ffb6c1;
}

#left-top{
  left: 10%;
}
#left-center{
  left: 30%;
}

#right-top{
  left: 80%;
}
#right-center{
  left: 52%;
}

.message{
  display: flex;
  font-size: 28px;
  flex-direction: column;
  text-align: center;
  color: #11210d;
  margin-top: 100px;
}

.text{
  display: none;
}

.direction {
  color: black;
  font-size: 28px;
  text-align: center;
  margin-top: 100px;
}
.gifs img{
  height: 250px;
  width: 250px;
  position: absolute;
  z-index: 5;
  display: none;
}
  .sono{
    top: 5%;
    left: 5%;
    transform: rotate(30deg);
  }
  .stork{
    top: 55%;
    left: 5%;
    transform: rotate(30deg);
  }
  .minato{
    top: 5%;
    left: 75%;
    transform: rotate(-30deg);
  }
  .goku{
    top: 55%;
    left: 75%;
    transform: rotate(-30deg);
  }
  .guy{
    top: 60%;
    left: 54%;
    transform: rotate(-15deg);
  }
  .baby{
    top: 60%;
    left: 30%;
    transform: rotate(15deg);
  }

  @media(max-width: 650px){
    .button{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      z-index: 10;
      position: absolute;
    }

    .gifs img{
      height: 80px;
      width: 80px;
    }
  }
